calendar

<div class="container">
  <div class="row">
    <div class="day col-md-1">
      Sunday
    </div>
    <div class="day col-md-1">
      Monday
    </div>
    <div class="day col-md-1">
      Tuesday
    </div>
    <div class="day col-md-1">
      Wednesday
    </div>
    <div class="day col-md-1">
      Thursday
    </div>
    <div class="day col-md-1">
      Friday
    </div>
    <div class="day col-md-1">
      Saturday
    </div>
  </div>
</div>
